@import "tailwindcss";

@theme {
	--color-text-primary: var(--color-neutral-800);
	--color-text-secondary: var(--color-neutral-600);
	--color-text-heading: var(--color-neutral-950);
	--color-text-decoration: var(--color-neutral-500);
	--color-background-primary: var(--color-white);
	--color-background-secondary: var(--color-neutral-100);
	--color-background-tertiary: var(--color-neutral-200);
	--color-border-primary: var(--color-neutral-100);
	--color-border-secondary: var(--color-neutral-200);
	--color-border-tertiary: var(--color-neutral-300);

	--color-info-text: var(--color-lime-900);
	--color-info-background: var(--color-lime-100);
	--color-info-border: var(--color-lime-200);
	--color-warn-text: var(--color-amber-900);
	--color-warn-background: var(--color-amber-100);
	--color-warn-border: var(--color-amber-200);
	--color-alert-text: var(--color-red-900);
	--color-alert-background: var(--color-red-100);
	--color-alert-border: var(--color-red-200);

	--leading-*: initial;
	--leading-tight: 1.25;
	--leading-normal: 1.5;
	--leading-relaxed: 2;

	--bg-grid:
		linear-gradient(0deg, var(--color-border-primary) 1px, transparent 1px),
		linear-gradient(90deg, var(--color-border-primary) 1px, transparent 1px);
}

@layer base {
	html {
		@apply scroll-py-40;
	}

	/* ボタンのデフォルトのカーソルをポインターに変更 */
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		@apply cursor-pointer;
	}

	.dark {
		--color-text-primary: var(--color-neutral-100);
		--color-text-secondary: var(--color-neutral-300);
		--color-text-heading: var(--color-white);
		--color-text-decoration: var(--color-neutral-200);
		--color-background-primary: var(--color-neutral-900);
		--color-background-secondary: var(--color-neutral-700);
		--color-background-tertiary: var(--color-neutral-800);
		--color-border-primary: var(--color-neutral-800);
		--color-border-secondary: var(--color-neutral-700);
		--color-border-tertiary: var(--color-neutral-600);

		--color-info-text: var(--color-lime-50);
		--color-info-background: var(--color-lime-800);
		--color-info-border: var(--color-lime-700);
		--color-warn-text: var(--color-amber-50);
		--color-warn-background: var(--color-amber-800);
		--color-warn-border: var(--color-amber-700);
		--color-alert-text: var(--color-red-50);
		--color-alert-background: var(--color-red-800);
		--color-alert-border: var(--color-red-700);
	}
}

@utility kerning-on {
	font-feature-settings: "palt" 1;
}

@utility autospace-on {
	text-autospace: normal;
}

@utility interpolate-keywords {
	interpolate-size: allow-keywords;
}

@utility link-card-placeholder {
	@apply min-h-[1em] animate-pulse rounded-full bg-background-tertiary;
}

@utility markdown {
	@apply leading-relaxed wrap-anywhere;
	line-break: strict;
	hanging-punctuation: allow-end;

	/* インライン要素 */
	:where(a):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply underline decoration-text-decoration underline-offset-2;
	}
	:where(strong):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply font-bold;
	}
	:where(em):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply italic;
	}
	:where(code):not(:where(pre > code)):not(
			:where([class~="not-markdown"], [class~="not-markdown"] *)
		) {
		@apply rounded bg-background-secondary px-1 py-0.5 font-mono;
	}
	:where(del):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply line-through decoration-text-decoration;
	}

	/* ブロック要素 */
	:where(p):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply my-6;
	}
	:where(blockquote):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply my-6 border-l-4 border-border-secondary pl-4 text-text-secondary;
	}
	:where(.expressive-code):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply my-6 rounded-lg border border-border-secondary;
	}
	:where(hr):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply my-10 border-t border-border-secondary;
	}

	/* リスト */
	:where(ol):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply my-6 list-decimal pl-6;
	}
	:where(ul):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply my-6 list-disc pl-6;
	}
	:where(li):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply my-2;
	}
	:where(ol > li, ul > li):not(
			:where([class~="not-markdown"], [class~="not-markdown"] *)
		)::marker {
		@apply text-text-secondary;
	}
	:where(ol ol, ul ul, ol ul, ul ol):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply my-2;
	}

	/* テーブル */
	:where(table):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply my-6 w-full table-auto text-sm;
	}
	:where(thead):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply border-b border-border-secondary;
	}
	:where(thead th):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply px-2 pb-1.5 font-bold;
	}
	:where(tbody tr):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply border-b border-border-secondary;
	}
	:where(tbody tr:last-child):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply border-b-0;
	}
	:where(tbody td):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply align-baseline;
	}
	:where(tfoot):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply border-t border-border-secondary;
	}
	:where(tfoot td):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply align-top;
	}
	:where(th, td):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply text-left;
	}
	:where(tbody td, tfoot td):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply px-2 py-1.5;
	}
	:where(tbody tr:last-child td, tfoot tr:last-child td):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply pb-0;
	}

	/* details */
	:where(details):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply my-6 overflow-hidden rounded-lg border border-border-secondary bg-background-primary;

		summary {
			@apply cursor-pointer px-4 py-2 transition-colors;
		}
		&[open] summary {
			@apply bg-background-secondary;
		}

		&::details-content {
			@apply overflow-clip transition-discrete duration-300;
			transition-property: content-visibility, block-size;
		}
		&:not([open])::details-content {
			block-size: 0;
		}
	}

	/* 見出し */
	:where(h1, h2, h3, h4, h5, h6):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply text-pretty text-text-heading kerning-on;
	}
	:where(h1, h2, h3, h4):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply border-b border-l-8 border-border-secondary py-0.5 pl-2 font-bold;
	}
	:where(h1, h2):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply mt-10 mb-8 text-2xl;
	}
	:where(h3):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply mt-8 mb-6 text-xl;
	}
	:where(h4):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply mt-6 mb-4 text-lg;
	}
	:where(h5):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply mt-6 mb-4 border-b border-border-secondary py-0.5 pl-2 font-bold;
	}
	:where(h6):not(:where([class~="not-markdown"], [class~="not-markdown"] *)) {
		@apply mt-6 mb-4 border-b border-border-secondary py-0.5 pl-2;
	}
	:where(h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + *):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply mt-0;
	}

	/* 注釈 */
	:where(.footnotes):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply mt-8 border-t border-border-secondary;
	}
	:where(.footnotes h2):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply sr-only;
	}
	:where(.footnotes ol):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply mt-8 mb-0 text-sm;
	}
	:where(.footnotes ol li p):not(
		:where([class~="not-markdown"], [class~="not-markdown"] *)
	) {
		@apply my-0;
	}

	/* 最初の要素はマージンを0にする */
	& > *:first-child {
		@apply mt-0;
	}

	/* 最後の要素はマージンを0にする */
	& > *:last-child {
		@apply mb-0;
	}
}
