@import "tailwindcss";

@theme {
	--color-text-primary: var(--color-neutral-800);
	--color-text-secondary: var(--color-neutral-600);
	--color-text-heading: var(--color-neutral-950);
	--color-text-decoration: var(--color-neutral-500);
	--color-background-primary: var(--color-white);
	--color-background-secondary: var(--color-neutral-100);
	--color-background-tertiary: var(--color-neutral-200);
	--color-border-primary: var(--color-neutral-100);
	--color-border-secondary: var(--color-neutral-200);
	--color-border-tertiary: var(--color-neutral-300);

	--color-info-text: var(--color-lime-900);
	--color-info-background: var(--color-lime-100);
	--color-info-border: var(--color-lime-200);
	--color-warn-text: var(--color-amber-900);
	--color-warn-background: var(--color-amber-100);
	--color-warn-border: var(--color-amber-200);
	--color-alert-text: var(--color-red-900);
	--color-alert-background: var(--color-red-100);
	--color-alert-border: var(--color-red-200);

	--font-cursive: var(--font-family-caveat), cursive, sans-serif;

	--leading-*: initial;
	--leading-tight: 1.25;
	--leading-normal: 1.5;
	--leading-relaxed: 2;

	--bg-grid:
		linear-gradient(0deg, var(--color-border-primary) 1px, transparent 1px),
		linear-gradient(90deg, var(--color-border-primary) 1px, transparent 1px);
}

@layer base {
	html {
		@apply scroll-py-40;
	}

	/* ボタンのデフォルトのカーソルをポインターに変更 */
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		@apply cursor-pointer;
	}

	.dark {
		--color-text-primary: var(--color-neutral-100);
		--color-text-secondary: var(--color-neutral-300);
		--color-text-heading: var(--color-white);
		--color-text-decoration: var(--color-neutral-200);
		--color-background-primary: var(--color-neutral-900);
		--color-background-secondary: var(--color-neutral-700);
		--color-background-tertiary: var(--color-neutral-800);
		--color-border-primary: var(--color-neutral-800);
		--color-border-secondary: var(--color-neutral-700);
		--color-border-tertiary: var(--color-neutral-600);

		--color-info-text: var(--color-lime-50);
		--color-info-background: var(--color-lime-800);
		--color-info-border: var(--color-lime-700);
		--color-warn-text: var(--color-amber-50);
		--color-warn-background: var(--color-amber-800);
		--color-warn-border: var(--color-amber-700);
		--color-alert-text: var(--color-red-50);
		--color-alert-background: var(--color-red-800);
		--color-alert-border: var(--color-red-700);
	}
}

@utility kerning-on {
	font-feature-settings: "palt" 1;
}

@utility autospace-on {
	text-autospace: normal;
}

@utility interpolate-keywords {
	interpolate-size: allow-keywords;
}

@utility link-card-placeholder {
	@apply min-h-[1em] animate-pulse rounded-full bg-background-tertiary;
}
