---
import { Image } from "astro:assets";

import About from "@/assets/about.svg";
import Logo from "@/assets/logo.svg";
import MyIcon from "@/assets/my-icon.png";
import Posts from "@/assets/posts.svg";
import Tags from "@/assets/tags.svg";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<header
	class:list={[
		"flex w-full max-w-sm items-center justify-between rounded-full border border-border-primary bg-background-primary p-1.5 pr-3 shadow-lg",
		className,
	]}
>
	<a href="/" class="flex items-center gap-1">
		<Image
			src={MyIcon}
			alt=""
			class="size-8 rounded-full border border-border-primary"
			widths={[32, 64]}
			sizes="32px"
		/>
		<Logo class="mt-1" />
	</a>
	<nav>
		<ul class="flex items-center gap-3 text-lg font-bold">
			<li>
				<a href="https://s2n.tech/" target="_blank" aria-label="About">
					<About />
				</a>
			</li>
			<li>
				<a href="/" aria-label="Posts"><Posts /></a>
			</li>
			<li>
				<a href="/tags" aria-label="Tags"><Tags class="mt-1" /></a>
			</li>
		</ul>
	</nav>
</header>
