---
import { Icon } from "astro-icon/components";

import { normalizeTag } from "@/libs/posts";

interface Props {
	tag: string;
}

const { tag } = Astro.props;
---

<a
	href={`/tags/${normalizeTag(tag)}`}
	class="flex items-center gap-1 rounded-full border border-text-secondary bg-background-primary px-2.5 py-0.5 font-mono text-sm leading-tight text-text-secondary transition-colors hover:bg-background-tertiary"
>
	<Icon name="lucide:tag" class="size-3.5" />{tag}
</a>
