---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

import GlobalLayout from "./GlobalLayout.astro";

interface Props {
	title?: string;
	description?: string;
	class?: string;
}

const { title, class: className } = Astro.props;
---

<GlobalLayout
	title={title}
	class:list={[
		"grid grid-rows-[auto_1fr_auto] bg-background-primary bg-(image:--bg-grid) bg-size-[48px_48px] bg-center bg-repeat",
		className,
	]}
>
	<div class="sticky top-0 isolate z-30 flex justify-center p-4 sm:p-8">
		<Header />
	</div>

	<main class="isolate min-h-full">
		<slot />
	</main>

	<Footer />
</GlobalLayout>
