name: ci
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Setup | Generate types
        run: pnpm run sync

      - name: Run | Lint
        run: pnpm run lint

  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Setup | Generate types
        run: pnpm run sync

      - name: Run | Format
        run: pnpm run format:check

  typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Setup | Generate types
        run: pnpm run sync

      - name: Run | Typecheck
        run: pnpm run typecheck

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Setup | Node.js
        uses: ./.github/actions/setup-node

      - name: Setup | Generate types
        run: pnpm run sync

      - name: Run | Build
        run: pnpm run build
